/* 
	style-vb-overrides.css
	VisGov Demo 5 theme style.css overrides.
	style.css in the child theme is unaltered from the Genesis parent.
	style-vb-overrides.css added in functions.php
*/

.site-header .wrap { 
	background-image:url(images/wenham-header-600-160.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/* colors */
/*
body { background-color:#ddd; color:#444; }
body { background-image:none;
.site-inner { background-color:rgba(255,255,255,0.8);}
.site-header .wrap,
.nav-primary .wrap,
.footer-widgets .wrap,
.site-footer .wrap { 
	background-color:red;
}
.site-header, .footer-widgets, .site-footer, .nav-primary { border:none; }
.site-header .wrap {
	background-image:url(images/wenham-header-600-160.png);
	background-repeat:no-repeat;
	background-position:top left;
	background-size:contain;
	border:3px solid red;
}

.site-footer {
	border: none;
	padding:0;
	margin:0;
}
	
.site-header,
.nav-primary,
.site-inner,
.site-footer,
.footer-widgets {
	margin-bottom:3px;
}
.site-footer .wrap { margin-bottom:20px; padding:10px; }

button.menu-toggle { display:none; border:1px solid yellow;}

.entry-content { border:1px solid #555; background-color:#fff; padding:10px;}

a { color: #444; text-decoration: none; }
a:hover { color:#f25840; text-decoration:underline; }


input,
select,
textarea,
input.vb-mytaxbill { 
	background-color:#fff; padding-top:0 !important; padding-bottom:0 !important; margin:0; line-height:normal; border:none; 
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: center;
}

.genesis-nav-menu a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 5px 20px;
}

/* .vb-chart-mytaxbill { background-color:rgb(101,188,252); } */
/*
.widget { border:none; border-bottom:1px solid #f25840; }
.header-widget-area .widget { border:none; }
*/

/* layout */
/*
.content { margin-top:3px; padding:10px; }
.site-header { height:auto; min-height:0; margin-bottom:5px; }
.site-header .wrap { padding:10px; }

.title-area { width:600px; padding-top:30px; }
.site-title { font-size: 4rem; }
.site-title a { font-family:Strait, Arial, Helvetica, sans-serif; text-decoration:none;}
.site-description { display:none; }

.site-header .widget-area { width: 300px; padding-top:40px; }
.site-header .search-form { width: 100%;}

.site-inner { padding-top:10px; }

.content { width:78%;}
.sidebar-primary { width: 20%; border:1px solid yellow; }
.sidebar .widget { margin-bottom: 20px; }
.widget-title { margin-bottom: 5px; }
.widget { padding-bottom:5px; }
.sidebar li { margin:0 0 .5rem 00; padding:0; line-height:normal; }
.sidebar h3 { font-size:2rem; }


/*
.site-container { border:2px solid orange; }
.site-inner { border:1px solid purple; }
.content-sidebar-wrap { border:1px solid red; }
.content { border:1px solid yellow; }
.entry-content { border:1px solid pink; }
.sidebar { border:1px solid green; }
.widget { border:1px dashed black; }
*/

.title-area { width:448px; height:130px; padding:0; margin:0; }
.header-image .site-title > a { min-height:130px; }
.nav-primary li a:hover { color:#fff; }

.nav-primary ul,
.genesis-nav-menu {
	width:auto; margin:0 auto; }
}

.nav-primary ul li a {
	height:60px; margin:0; padding:0; 
	padding:20px 15px 0px 15px; margin:0 -3px; 

 /* gradient styles from wenhamma.gov */
	border-top:1px solid #7497ca;
	border-bottom:1px solid #7497ca;
	/* border-radius:4px;
	box-shadow:0 0 5px rgba(0,0,0,.5);  */
	background:#c9d4e9;
	background:-moz-linear-gradient(top, #c9d4e9 0%,#a5b7da 1%,#7e90c2 49%,#5b6cac 50%,#5b6cac 100%);
	
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#c9d4e9),color-stop(1%,#a5b7da),color-stop(49%,#7e90c2),color-stop(50%,#5b6cac),color-stop(100%,#5b6cac));
	
	background:-webkit-linear-gradient(top, #c9d4e9 0%,#a5b7da 1%,#7e90c2 49%,#5b6cac 50%,#5b6cac 100%);
	
	background:-o-linear-gradient(top, #c9d4e9 0%,#a5b7da 1%,#7e90c2 49%,#5b6cac 50%,#5b6cac 100%);
	background:-ms-linear-gradient(top, #c9d4e9 0%,#a5b7da 1%,#7e90c2 49%,#5b6cac 50%,#5b6cac 100%);background:linear-gradient(to bottom, #c9d4e9 0%,#a5b7da 1%,#7e90c2 49%,#5b6cac 50%,#5b6cac 100%);
	
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9d4e9',endColorstr='#5b6cac',GradientType=0 );
}

.genesis-nav-menu a { color:#dfdef7; }
.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
	color: #fff;
	text-decoration: underline;
}

button.menu-toggle { display:none;}

/* VB landing page  - no page header, no primary nav menu */
.home .entry-header {display:none; }

/* .home-page .nav-primary {display:none; } */

/****** Visual Budget Demo 5 plug-in styles ***********/
.vb-chart {   }

.vb-left-metric,.vb-right-chart {  }
.vb-left-metric {  float:left; width:30%; min-width:50em; border:1px solid blue;}
.vb-right-chart {  float:right; width:65%; min-width:500px; border:1px solid red;}
.vb-full-chart { width:100%; min-width:400px; }
.vb-full-chart vb-chart.vb-chart-treemap { }

.vb-chart-treemap svg {  }
.vb-chart-treemap {
  width: 100%;
  max-width: 1200px !important;
  font-size: 20px;
padding-bottom:2em; /* kludge */

}

/******* VB main nav stamps **********/

.vb_main_nav {
	display:block;
	text-align:center;
}
.vb_main_nav ul {
	width:auto;
	margin:0 auto;
	display:block;
	text-align:center;
}
.vb_main_nav ul li {	
	display:inline-block;
	height:190px;
	width:190px;
	margin:10px 10px;
	overflow:hidden;
	text-align:center;
	vertical-align:top;
}

.vb_main_nav ul li a {
	display:inline-block;
	color:black;
	width:100%;
	border: 1px solid rgb(235,235,235);
}
.vb_main_nav ul li a:hover {
	border-color:#888;
}

.vb_main_nav ul li a h2 {
	font-size:24px;
	line-height:26px;
	margin:0;
}
.vb_main_nav ul li a p {
	font-size:18px;
	line-height:20px;
	margin:0;
}

.vb_main_nav ul li .imgcrp {
	width:100%;
	height:120px;
	background-color:#fff;
	overflow:hidden;
}

.vb_main_nav ul li .imgcrp img {
	width:100%;
}

.vb-sidebar-icon {
	width:210px;
	margin:0 0 0 20px;
}

figure  {
	margin:0; padding;0; text-align:center;
}

.sidebar-primary,
.title-area {
		width: 250px;
}

.widget-title {
	    background-image: linear-gradient(rgb(157, 155, 175) 0%, rgb(55, 52, 88) 1%, rgb(55, 52, 88) 49%, rgb(40, 38, 64) 50%, rgb(40, 38, 64) 99%, rgb(40, 38, 64) 100%, rgb(25, 24, 40) 100%);
	padding:.5em 1em;
	color: #d5def7;
	font-size:100%;
}

/* VB iframe pages */
iframe { 
	border:1px solid #ddd;
	background:url(images/loading_spinner.gif) no-repeat center center;
	min-height:300px;
}


